@charset "UTF-8";
/* Set Your Media Query Ranges (Responsive Breakpoints)
576px for portrait phones.
768px for tablets.
992px for laptops.
1200px for large devices. */

@media screen and (min-width: 768px) {
  span#burguer {
    display: none;
  }

  menu {
    display: block;
  }
  menu ul li {
    display: inline-block;
  }
  main {
    width: 768px;
  }
}

